<div class="container">

  <div id="<%= dom_id creator %>">
    <p>
      <strong>Artist:</strong>
      <%= creator.artist %>
    </p>

    <p>
      <strong>Song album title:</strong>
      <%= creator.song_album_title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= creator.description %>
    </p>

    <p>
      <strong>Subscription:</strong>
      <%= creator.subscription %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= creator.price %>
    </p>

    <p>
      <strong>Perks:</strong>
      <%= creator.perks %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= creator.image %>
    </p>

  </div>
  
</div>
